- content_for :title, @gallery.name

- if @gallery.body
  .gallery-body
    = @gallery.body.to_html.html_safe
    %br

%ul.small-block-grid-4
  - @gallery.photos.each do |photo|
    %li
      = link_to(image_tag(photo.photo.thumb('250x250#').url, :size => '250x250', :alt => photo.name), photo.photo.url, :class => 'th')
