@import "foundation_and_overrides";

[data-clearing] li {
  margin-right: 0px !important;
}
#side-nav {
  border-right: 1px dashed #b9b9b9;
}
.tabs-content > .content.active {
  width: 100%; }

.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
  min-height: 8rem;
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }