= form.input :meta_title, :placeholder => 'The title for display in search results'
= form.input :keywords, :placeholder => 'Enter some relevant keywords. i.e. portrait, family, kids, lifestyle, etc.'
= form.input :meta_description, :as => :text, :placeholder => 'Brief description for display in search results.'
